@using Alpaca.Markets
@namespace gcomp
@using FirstServ
@inject IAlpacaService Alserv

<div class="data-component">
 <div id = "Orders">
       @if(paper_orders == null)
            {
                <p>No Orders </p>
            }
       else
       {
        <ul>
           @for(var i = 0; i < paper_orders.Count() && i < 5; i++)
           { 
                <li>@paper_orders.ElementAt(i).Symbol :   @paper_orders.ElementAt(i).Quantity   Status: @paper_orders.ElementAt(i).OrderStatus</li>
            }
        </ul>
       }
    </div>
</div>

@code {
    private IEnumerable<IOrder>? paper_orders;
    private int size_of_orders = 0;
    
    protected override async Task OnInitializedAsync()
    {
        var u_opt = await Alserv.GetAllMyOrders();
        if (u_opt != null)
        {
            paper_orders = u_opt;
        }
    }
}