@namespace gcomp
@using Alpaca.Markets
@using FirstServ
@inject IAlpacaService Alserv

<div class="data-component">
 <div id = "Posistions">
    @if (paper_Pos == null)
    {
        <p>No Positions </p>
    }
    else
    {
       <ul>
        @for(var i = 0; i < paper_Pos.Count() && i < 5; i++)
        {
            <li>@paper_Pos.ElementAt(i).Symbol :  @paper_Pos.ElementAt(i).Quantity</li>
        }
       </ul>
    }
    </div>
</div>

@code {
    private IEnumerable<IPosition>? paper_Pos;
    protected override async Task OnInitializedAsync()
    {
        var u_pos = await Alserv.GetPositions();
        if(u_pos != null)
        {
              paper_Pos = u_pos;
        }
    }
}
