@namespace gcomp
@using chartModel
@using System.Security.Cryptography.X509Certificates
@inject IJSRuntime JS

<div id="graphplaceholder">
    <canvas id="@CanvasId"></canvas>
</div>

@code{
    [Parameter]
    public string CanvasId {get; set;} = Guid.NewGuid().ToString();
    [Parameter]
    public ChartConfig Config {get; set;} = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JS.InvokeVoidAsync("chartInterop.createChart", CanvasId, Config);
        }
    }
}