@page "/c_test"
@using Alpaca.Markets
@using FirstServ
@using System.Runtime.CompilerServices
@using gcomp
@using chartModel
@rendermode InteractiveServer

@inject IAlpacaService Alserv

@if(lineChartConfig == null)
{
    <p>Loading</p>
}
else
{
<div class="row">
    <div class="col-md-8">
        <GraphComponent Config = "lineChartConfig" />
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <table>
            <tr>
                <th >1D</th>
                <th>Week</th>
                <th>Month</th>
                <th>3 Months</th>
            </tr>
        </table>
    </div>
</div>
}

@code {
    CancellationToken cancellationToken;
    private List<IBar>? data;
    private ChartConfig? lineChartConfig;
    private int pms = 1;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var temp = new List<IBar>();
            var bars =await Alserv.GetHistoricalData("AAPL", DateTime.Now.AddDays(-3), DateTime.Now, cancellationToken);
             
            await foreach (var bar in bars)
            {
                temp.Add(bar);
            }
            data = temp;

            lineChartConfig = new ChartConfig()
            {
                Type = "line",
                Data = new ChartData()
                {
                    Labels = data.Select(b => b.TimeUtc.ToString("MM/dd HH:mm")).ToList(),
                    Datasets = new()
                    {
                        new ChartDataset()
                        {
                            Label = "AAPL",
                            Data = data.Select(d => (double)d.Close).ToList(),
                            BorderColor = "green"
                        }
                    }
                }
            };
            Console.WriteLine("Everything loaded");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}