@page "/"
@using FirstServ
@using Alpaca.Markets
@using System.Runtime.CompilerServices
@using System.Diagnostics.Eventing.Reader
@using gcomp
@inject IAlpacaService Alserv

<PageTitle>Home</PageTitle>

<div class="row">
        <div class="col-md-10">
            @if(data == null)
            {
                <p>Loading..</p>
            }
            else
            {
            @foreach(var bass in data)
            {
                <p>@bass.Open</p>
            }}
        </div>
        
        <div class="col-md-2">
            <div class="card row mb-2">
                        <div class="card-body">
                            <h6 class="card-title"><b>Account Info</b></h6>
                            <hr class="my-2" />
                            <ul>
                                <li>Buying Power: @buyingpower</li>
                                <li>Cash: @cashh</li>
                            </ul>
                        </div>
            </div>
            <div class="card row mb-2">
                        <div class="card-body">
                            <h6 class="card-title"><b>Positions</b></h6>
                            <hr class="my-2" />
                            <DataComponentPositions />
                        </div>
            </div>  
            <div class="card row mb-2">
                        <div class="card-body">
                            <h6 class="card-title"><b>Orders</b></h6>
                            <hr class="my-2" />
                            <DataComponentOrders />
                        </div>
            </div>
        </div>
</div>


@code {
    private decimal? buyingpower, cashh, bp2;
    private IList<IBar> data;
    CancellationToken cancellationToken;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
           Console.WriteLine("Step 1: GetBuyingPower");
        buyingpower = await Alserv.GetBuyingPower();

        Console.WriteLine("Step 2: GetCash");
        cashh = await Alserv.GetCash();

        Console.WriteLine("Step 3: GetAccount");
        var d = await Alserv.GetAccount();

        Console.WriteLine("Step 4: BuyingPower from account");
        bp2 = d.BuyingPower;

        Console.WriteLine("Step 5: GetHistoricalData");
        var temp = new List<IBar>();
        var bars =await Alserv.GetHistoricalData("AAPL", DateTime.Now.AddDays(-3), DateTime.Now, cancellationToken);
        await foreach (var bar in bars)
        {
            temp.Add(bar);
        }
        data = temp;
        Console.WriteLine($"Step 6: Done, {data.Count} bars loaded");
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            Console.WriteLine(ex.StackTrace);
        }
    }
}