@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Buying power: @buyingpower</p>
@code {
    private decimal? buyingpower;
    private AlpacaService AlpacaService = default!;
    
    protected override async Task OnInitializedAsync()
    {
        var account = await AlpacaService.GetBuyingPower();
        buyingpower = account;
    }
    }