@page "/predicitons_calculations"

<PageTitle>P _ C</PageTitle>

<div class="row">
    <div class = "col-md-4">
        <div class="card row mb-2">
                        <div class="card-body">
                            <h6 class="card-title"><b>Calculate</b></h6>
                            <EditForm FormName="basic" OnSubmit="@handleCalc">
                                <label>
                            </EditForm>
                        </div>
            </div>
    </div>
</div>